@{
    ViewData["Title"] = "Книги";
}
@using LibraryProject.ViewModels;
@model BooksViewModel;
@addTagHelper *, LibraryProject

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link rel="stylesheet" href="~/css/styleBook.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <style>
        footer {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <!-- Оболочка -->
    <div class="wrapper">

        <div class="filterBlock" id="filterBlock">
            <div class="block_titleFilter">
                <h3>Фильтр</h3>
            </div>
            <form asp-controller="Book" asp-action="BookList" id="filterBooks" method="post">
                <h2>Жанр</h2>
                <div class="block_selectGenres">
                    @foreach (var genre in ViewBag.GenresList) {
                        <label><input type="checkbox" name="selected_genres" id="genre_@genre.Id" value="@genre.GenreName">@genre.GenreName</label><br />
                    }
                </div>
                <h2>Автор</h2>
                <div class="block_selectAuthor">
                    @foreach (var author in ViewBag.AuthorsList) {
                        <label><input type="checkbox" name="selected_authors" id="author_@author.Id" value="@author.SurnameNp">@author.SurnameNp</label><br />
                    }
                </div>
                <h2>Год</h2>
                <span id="yearRange"></span>
                <div class="block_selectYearRange">
                    <input type="range" id="selectYearRange" name="selectYearRange" min="2005" max="2021" value="2005" step="1">
                    <p><span id="loYear"></span><em id="dotted">&#8226;&#8226;&#8226;</em><span id="hiYear">2021</span></p>
                </div>
                <div class="block_additionallyOptions">
                    <label><input type="checkbox" id="availStatus" name="availStatus" value="true">Только доступные</label>
                </div>
                <div class="block_btnApply">
                    <button class="btnApply" type="submit">Применить</button>
                </div>
            </form>
        </div>

        <div class="container">

            <!-- Сетка с книгами -->
            <div class="wrapper__books">
                <form class="bookSearchForm" method="get">
                    <input class="searchBook" name="searchInput" placeholder="Искать здесь..." type="search">
                    <button class="btnSearchBook" type="submit">Поиск</button>
                </form>

                <div class="block_sorts">
                    <form asp-controller="Book" asp-action="BookList" class="form_sortType" id="form_sortType" method="get">
                        <select name="sortType" id="sortType" onchange="this.form.submit()">
                            <option value="sort_default">По умолчанию</option>
                            <option value="sort_popularFirst">Сначала популярные</option>
                            <option value="sort_from_A_to_Z">Названия от А до Я</option>
                            <option value="sort_from_Old_to_New">От старых к новым</option>
                            <option value="sort_from_Z_to_A">Названия от Я до А</option>
                            <option value="sort_from_New_to_Old">От новых к старым</option>
                        </select>
                    </form>
                </div>

                <div class="block_resetFilterBtn">
                    <button form="filterBooks" id="filterResetBtn" type="submit" value="true" name="filterReset">Сбросить</button>
                </div>

                <div class="block_mobileFilterBtn">
                    <button id="mobileFilterBtn">Фильтр</button>
                </div>


                @foreach (Books book in Model.Books) {
                    <div id="@book.Id" class="bookCard">
                        <!-- Обложка -->
                        <div class="bookCover">
                            <a asp-controller="Book" asp-action="BookDetails" asp-route-id="@book.Id" asp-route-page="@ViewBag.Page">
                                <img src="@BooksViewModel.CreateScrAttrForImg(@book.CoverImgUrl)" alt="@book.Id">
                                <div class="bookButtons">
                                    <button class="button" formmethod="post">Подробнее</button>
                                </div>
                                <p class="bookTitle">@book.Title</p>
                            </a>
                        </div>
                        <!-- Автор -->
                        <div class="bookAuthor">
                            <p>@book.Author.SurnameNp</p>
                        </div>
                        <!-- Доступность -->
                        @{
                            string availableStatus = "";
                            string classStatusAvailable = "bookAvailableTrue";
                            if (book.Copies != null && book.Copies.AmountFreeCopies > 0) {
                                availableStatus = "Доступна";
                            }
                            else {
                                availableStatus = "Недоступна";
                                classStatusAvailable = "bookAvailableFalse";
                            } // if

                        }
                        <div class="bookAvailable @classStatusAvailable">
                            <span>@availableStatus</span>
                        </div>
                    </div>
                }

            </div>
            <page-link page-model="Model.PageViewModel" page-action="BookList"></page-link>

        </div>
    </div>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bookListScript.js"></script>
</body>
</html>
